<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/site.css">
    <link rel="icon" href="images/mixifavicion.png" type="" sizes="30x30">
    <title>Book Store</title>
</head>
@{
    Layout = null;
}
<header>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
    <div class="super_container">
        <!-- Header -->
        <header class="header">
            <!-- Top Bar -->
            <div class="container">
                <div class="row">
                    <div class="col d-flex flex-row">
                        <div class="top_bar_contact_item">
                            <div class="top_bar_icon">
                                <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918577/phone.png"
                                     alt="">
                            </div>
                            +91 9823 132 111
                        </div>
                        <div class="top_bar_contact_item">
                            <div class="top_bar_icon">
                                <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918597/mail.png"
                                     alt="">
                            </div>
                            <a href="mailto:fastsales@gmail.com">bookstore@gmail.com</a>
                        </div>
                        <div class="top_bar_content ml-auto">
                            <div class="top_bar_menu">
                                <ul class="standard_dropdown top_bar_dropdown">
                                    <li>
                                        <a href="#">English<i class="fas fa-chevron-down"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="top_bar_user">
                                <div class="user_icon">
                                    <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918647/user.svg"
                                         alt="">
                                </div>
                                <div><a href="">Register</a></div>
                                <div><a href="">Login</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="header_main">
                <div class="container">
                    <div class="row">
                        <!-- Logo -->
                        <div class="col-lg-2 col-sm-3 col-3 order-1">
                            <div class="Logo">
                                <img class="d-block w-100" src="/images/Logo1.png" width="450px">
                            </div>
                        </div>
                        <br>
                        <nav class="main_nav">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="main_nav_content d-flex flex-row">
                                            <div class="main_nav_content d-flex flex-row">
                                                <nav class="navbar navbar-expand-lg navbar-light">
                                                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                                        <ul class="navbar-nav text-center mr-auto">
                                                            <li class="nav-item active mr-lg-2 mb-lg-0 mb-2">
                                                                <a class="nav-link" asp-controller="Book" asp-action="Index">
                                                                    Homepage
                                                                </a>
                                                            </li>
                                                            <li class="nav-item mr-lg-2 mb-lg-0 mb-2">
                                                                <a class="nav-link" href="{{route('homepage.product')}}">All Products</a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a class="nav-link" href="{{route('homepage.contactUs')}}">Contact Us</a>
                                                            </li>

                                                            <li class="nav-item mr-lg-2 mb-lg-0 mb-2">
                                                                <a class="nav-link" href="{{route('homepage.feedback')}}">Feedback</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </nav>
                                            </div>
                                        </div>

                                        <!-- //navigation -->
                                    </div>
                                </div>
                            </div>
                        </nav>
                        <div class="header-top-main bg_main">
                            <div class="container">
                                <div class="first-content">
                                    <div class="text-contect">Free Shipping on Oder $100+</div>
                                </div>
                            </div>
                            <div id="search_widget" class="col-lg-4 col-md-5 col-sm-12 search-ưidget"></div>
                        </div>
        
        </header>

        <body>
            <section id="wrapper" style>
                <div class="container">
                    <div id="columns_inner">
                        <div id="left-column" class="col-xs-12 col-sm-4 col-md03 hb-animate-element top-to-bottom">
                            <div id="tm_vertical_menu_top" class="tmvm-contener clearfix col-lg-12 hb-animate-element top-to-bottom">
                                <div class="block-title">
                                    <i class="material-icons menu-open"></i>
                                    <div class="menu-title">Categories</div>
                                </div>
                                <div class="menu vertical-menu js-top-menu position-static hidden-sm-down" id="_desktop_top_menu">
                                    <ul class="tm_sf-menu top-menu" id="top-menu" data-depth="0" style>
                                        <li class="category main_nav menu-1" id="tmcategory-3">
                                            <a href="" class="dropdown-item" data-depth="0">Romantic</a>
                                        </li>
                                        <li class="category main_nav menu-2" id="tmcategory-3">
                                            <a href="" class="dropdown-item" data-depth="0">Fiction</a>
                                        </li>
                                        <li class="category main_nav menu-3" id="tmcategory-3">
                                            <a href="" class="dropdown-item" data-depth="0">Kids</a>
                                        </li>
                                        <li class="category main_nav menu-4" id="tmcategory-3">
                                            <a href="" class="dropdown-item" data-depth="0">Technology</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </body>
</html>